<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main/main.css">
</head>
<body>
    <div class="b">
        <div class="circle b1 red"></div>
        <div class="circle b2 red"></div>
        <div class="circle b3 red"></div>
        <div class="circle b4 red"></div>
        <div class="circle b5 red"></div>
        <div class="circle b6 blue"></div>
        <div class="circle b7 blue"></div>
        <div class="circle b8 blue"></div>
        <div class="circle b9 blue"></div>
        <div class="circle b10 blue"></div>
    </div>
    <div class="a">
        <div class="a1">
             <div class="a11">
                <h3>Help</h3>
                <p><ol>
                    <li>Please download and open the
                        Mobile app: Xenxoid Sync</li><br>
                        <li>
                            Type the password shown on the
                            mobile in your Computer app
                            and click on 'Start Server'
                        </li><br>
                        <li>
                            Write the ip address of your computer
                            and click on 'Connect to Server'
                        </li><br>
                </ol>
                    
                  
                    
                </p>
             </div>
        </div>
        <div class="a2">
                <div class="a21">
                   
                        <h2>Xenxoid Synx</h2>
                 
                
                        <p>This computer IP (Server IP): 192.168.0.1
                            <span class="hint">---write that in your phone</span></p>
                  
                </div>
                <div class="a22">
                    <div class="a221">
                     <div class="password_content">
                        Password <input type="text" class="password"> <span class="hint"> --- get password from your phone</span>
                     </div>
                     <div class="buttons">
                         <div class="button">Start Server</div>
                         <div class="button">Stop Server</div>
                         <div class="button">Open Sharefolder</div>
                     </div>
                    </div>
                    <div class="a222">

                    </div>
                </div>
        </div>
    </div>
    
</body>
</html>