<html>

<head>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <link rel="stylesheet" href="/static/main/main.css?q={{random_num}}">
</head>

<body>
    <div class="a">
        <div class="a1">
            <span class="h3">Server IP address</span><span class="h3little"> (most probobly):</span><span class="p1">
             
                {{ip}}
            </span>
            <br>
            <br>
            <div class="error">{{error}}</div>
            <button class="mdc-button mdc-button--raised btn_back btn_blue" onclick="toggle_all_ip()">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Server IP Address empty</span>
            </button>
           
            <div class="all_ip">
                <span class="h4little">
                    <ol>
                  <li>  Check if you are connected to your router</li>
               <li>     <h4>Advanced Users!</h4> If your local ip doesnt start with 192.168.0 or 192.168.1 (or you want to
                    use it in a different LAN and not the router) then you can manually your computer ip here
                   <br>
                </span><br>
            </li>
            </ol>
            <form action="/checkpass" method="POST">
                <span class="h4">Custom IP</span>
                <br>
                <input type="text" name="custom_ip" value="{{ip}}">
          
            </div>
            <div class="a2">
                <span class="h4">Password</span>

                <br>
                    <input type="text" name="pass">
                    <br>
                   
                
                    <button class="mdc-button mdc-button--raised btn_back btn_red">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Start Server</span>
                    </button>
                </form>

            </div>

            <div class="a3">
              

                <h3>Server is {{server_status}}</h3>
                {% if server_status == "connected" %}

                <form action="/open_sharefolder" method="POST">
                    <button class="mdc-button mdc-button--raised btn_back btn_red">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Open Share Folder</span>
                    </button>
                </form>

                {% endif %}
                <button class="mdc-button mdc-button--raised btn_back btn_blue" onclick="help()">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Help</span>
                </button>
              <br>
                <button class="mdc-button mdc-button--raised btn_back btn_blue" onclick="donate()">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Donate</span>
                </button>
                <br> <br> <p>This is made by one 18 year old kid. I hope you like my app and support me!</p>
            </div>
            <div class="a5"></div>
            <div class="a4">
                <ol>
                    <li>Please download and open the Mobile app</li>
                    <br>
                    <li>Type the password shown on the mobile in your Computer app and click on
                        'Start Server'</li>
                    <br>
                    <li>Write the ip address of your computer and click on 'Connect to Server'</li>
                </ol>
                <br>Still not working?<br>If you entered an ip from computer please click on 'Not Working?' on Computer
                app and try another ip (typically that starts with '192.168') and is your lan ip (of your router)<br>And
                make sure your computer and mobile is on the same network (same wifi)
                <br>
                <button class="mdc-button mdc-button--raised btn_back btn_red" onclick="help()">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Watch Video!</span>
                </button>
                <button class="mdc-button mdc-button--raised btn_back btn_red" style="margin-left: 20px;"
                    onclick="okay()">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Okay</span>
                </button>
            </div>

        </div>

        <script src="/static/main/main.js"></script>
</body>

</html>