*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/server/electron/node_modules

/server/windows form/Xenxoid Sync/packages
/server/windows form/Xenxoid Sync/Xenxoid Sync/bin