$colorPrimary: #2CD889;
$colorPrimaryDark: #001064;
$colorPrimaryLight: #5f5fc4;
$colorAccent: #ff1744;

html,
body {
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  
}

img{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    
}
.a {
    display: grid;
  grid-template-columns: 3fr 2fr;
}
.accent_text{
    color: $colorPrimary;
}

.main{
    text-align: center;
    margin: 60px;
    margin-top: 250px;
}
.hint{
    color: #646D82;
}
.button{
    background-color: $colorPrimary;
    padding: 13px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 1px $colorPrimary solid;
    transition: all 200ms;
    cursor: pointer;
}
.button:hover{
background-color: white;
color: $colorPrimary;
}

.password {
    background: none;
    border: none;
    outline: none;
     border: 1px solid #08080828;
    border-bottom: 2px solid #E9E9F0;
    width: 60%;
    font-size: 110%;
    backdrop-filter: blur(10px);
    box-shadow: -5px 3px 5px 1px rgba(0, 0, 0, 0.39);
    padding: 7px;
    transition: all 200ms;
}
.password:hover{
    box-shadow: -6px 4px 7px 1px rgba(0, 0, 0, 0.39);
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: -1;
  }
  .b {
    height: 0;
    width: 0;
  }
  .red {
    background-color: $colorAccent;
  }
  .blue {
    background-color: $colorPrimary;
  }
  .b1{
      top:340px;
      right:190px;
      width: 50px;
      height: 50px;
  }
  .b2{
    top:370px;
    right:300px;
    width: 50px;
    height: 50px;
}

.hidden{
    display: none;
}

