$colorPrimary: #283593;
$colorPrimaryDark: #001064;
$colorPrimaryLight: #5f5fc4;
$colorAccent: #ff1744;

html,body{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
     background: linear-gradient(45deg,$colorPrimary, $colorPrimaryDark);
    background-repeat: no-repeat;
   height: 100vh;
    overflow: hidden;
    color: white;

    
}
.a{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 10px;
}
.h3 {
    font-size: 150%;
}

.h4 {
    font-size: 110%;
}

.p1 {
    font-weight: bold;
}


.btn_back{
  
  
    box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.527);
    margin-top: 10px;
    transition: box-shadow 200ms;
}
.btn_red{
    background-color: $colorAccent !important;
}
.btn_blue{
    background-color: $colorPrimary !important;
}

.btn_back:hover{
    box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.527);
}


.all_ip{
    margin-top: 20px;


}


input{
    border: none;
    background: none;
    outline: none;
    color: white;
    background-color: $colorPrimary;
    padding: 10px;
   
    border-bottom: 1px solid white;
    margin-top: 10px;
    width: 200px;
    transition: box-shadow 200ms;

}

input:active{
    outline: none;
  
}

input:focus{
    box-shadow: -6px 6px 5px 2px rgba(0, 0, 0, 0.527);
}
.a3{
    margin-top: 50px;
}
.a4{
    position: absolute;
    display: block;
    background-color: white;
    color: black;
    padding: 40px;
    top: 10%;
    left: 10%;
    right: 10%;
   
    border-radius: 10px;
    display: none;
}

.a5{
    height: 120vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.error{
    font-weight: bold;
    color: $colorAccent;
}