$colorPrimary: #283593;
$colorPrimaryDark: #001064;
$colorPrimaryLight: #5f5fc4;
$colorAccent: #ff1744;
$border_color:#70707070;

html, body{
    margin: 0;
    padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.b {
  height: 0;
  width: 0;
}
.red {
  background-color: $colorAccent;
}
.blue {
  background-color: $colorPrimary;
}
.b1 {
  top: 10%;
  left: 20%;
  height: 100px;
  width: 100px;
}
.b2{
  top: 40%;
  right:5%;
  height: 400px;
  width: 400px;
}
.a {
  display: grid;
  grid-template-columns: 2fr 6fr;
  height: 100vh;
}

.a1 {
  backdrop-filter: blur(10px);
  border: rgba(51, 51, 51, 0.5) solid 1px;
  height: 100vh;
  min-width: 280px;
}

.a11{
    margin:8%;
    width: 82%;
    height: 50vh;
    margin-top: 50vh;
}
.a11 ol{
    padding-left: 20px;
}
.a2 {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
}

.a22 {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.a21 {
  margin-left: 50px;
  width: 500px;
}
.a21 h2 {
  margin-bottom: 40px;
  margin-top: 50px;
  font-size: 35px;
}

.a221 {
  backdrop-filter: blur(10px);
  
  margin: 4%;
  margin-top: 5vh;
  width: 92%;
  height: 90%;

}
.a222 {
  backdrop-filter: blur(10px);
  
  margin: 4%;

  margin-top: 5vh;
  width: 92%;
  height: 90%;
}

.password{
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.311);
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: $colorAccent 2px solid;
    backdrop-filter: blur(10px);
    padding: 7px;
    padding-bottom: 4px;
    font-size: 100%;
    margin-left: 20px;
  
}

.password_content{
    margin-left: 30px;
    margin-top: 70px;
}
.hint{
    color: #646D82;
    margin-left: 30px;
}
.buttons{
    margin-left: 30px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20*10px;
}
.button{
    background-color: #ff1744bb;
    color: white;
    width: 20*5px;
    padding: 7*4px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 3px;
    text-align: center;
    transition: all 400ms;
    cursor: pointer;
    margin: 3px;
}

.button:hover{
    background-color: #ff1744;
}
.button:nth-child(3){
    width: auto;
    grid-area: 2 / 1 / span 1 / span 3;
}

.hidden{
  display: none;

}

.a221, .a222,.item{
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.295);
    background-color: #ffffff4d;
}
.item p, .item .img {
  margin-top: auto;
  margin-bottom: auto;

}
.item{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 90%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.632);
  border: 1px solid $border_color;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  cursor: pointer;

  transition: 400ms all;
}

.img{
  height: 100%;
}
.icon{
  height: 30px;
  padding-top: 15px;
display: block;
margin: auto;
}
.size{
  font-size: 90%;

}
.share_fold_heading p{
  font-size: 140%;
  margin-left: 30px;
}
.open_folder_text{
  background-color: $colorAccent  ;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin:0;
  position: absolute;
  transition: all 500ms;
}

.open_folder_text:hover{
  opacity: 0.8;
}
.open_folder_text p {
  color: white;
  font-size: 120%;
  width: 100%;
  margin-top: 90%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 1250px) {
    .a22{
        grid-template-columns: 1fr;
        
    }
}